@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
   background-image: url("https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover; 
}
header{
    text-align: center;
    padding: 2%;
}

header h1{
    padding: 1%;
}

.section__card{
    position: absolute;
    top: 20vw;
    left:4vw;
    width: 50vw;
    height: 4vw;  
}

.section__card p{
    width: 60%;
    display: flex;
    text-align: justify;
    align-items: center;
    color: black;
}

footer{
    padding: 2%;
    position: absolute;
    bottom: 0;
    background: black;
    display: flex;
    color: white;
    text-align: center;
    width: 100%;
}
.footer__div{
width: 100%;
margin: auto;
}

.footer__div a{
    margin: 20px;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav{
    background-color: #77dd77;
}
ul{
    text-align: center;
    width: 100%;
    list-style: none;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f7f7;
}
li{
    margin: 20px;
    display: inline-block; 
    font-weight: bold;
}
.header{
    background-color: black;
}
.nav{
    background-color: #77dd77;
}
ul{
    text-align: center;
    width: 100%;
    list-style: none;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f7f7;
}
li{
    margin: 20px;
    display: inline-block; 
    font-weight: bold;
}
.header{
    background-color: black;
}
a:hover{
    border-bottom: 2px solid #f7f7f7;
}

.form__submit, .form__subscribe{
    background: #77dd77;
    color: black;
    border-radius: 10px;
    padding: 5px;
    height: 30px;
    margin: 20px;
}

.form__submit:hover{
    background: black;
    color: white;
    translate: 5px;
    transition: .6s;
}
.form__subscribe:hover{
    background: black;
    color: white;
    translate: 5px;
    transition: .6s;
}
.card__btn{
width: 60%;
text-align: center;
}
.section__title{
    width: 60%;
    text-align: center;
}