html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #F5F5F5;
}

.nav{
    background-color: #84b6f4;
}
ul{
    padding-top: 1.5%;
    display: flex;
    text-align: center;
    width: 100%;
    list-style: none;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}

.title:hover{
    color: white;
    border-bottom: 5px solid white;
}
li{
    align-items: center;
    
    margin: 20px 0 20px 0;
}

.icon{
    margin-right: 20px;
    width: 3vw;
    height: auto;}

    .logo{
        width: 6vw;
        margin-left: 20px;
    }

    .title{
       
       font-size: 2vw; 
    }



    .grid-logo{

        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-template-rows: 33% 33% 33%;
       row-gap: 1vw;
       column-gap: 2vw;
       margin: 2%;
       margin-bottom: 4vw;

      }
.grid-logo img{
width: 40%;
height: auto;


}
.grid-logo div{
display: block;
margin: auto;

}
.grid-text{
    display: flex;
}
.container-img{
    display: block;
    margin: auto;
}
.item{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;}

.item:hover{
 
    border: 3px solid #84b6f4;
}

.price{
    font-size: 1vw;
    padding-bottom: 1em;
}
.grid-title{
    font-size: 1.5vw;
}


footer{
    background-color: #84b6f4;

}
.container-sub-title{
    margin-bottom: 30px;
}
.container-footer{
    display: flex;
    text-align: center;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5vw;
    
}
.text-footer{
    margin: 20px 0 20px 0;
}
@media (max-width:850px){ 
  
    .grid-logo{
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: 24% 24% 24% 24% ;    
}
.inicio{
    display: none;
}
}

@media (max-width:500px){ 

    
    .grid-logo{
        grid-template-columns: 49% 49% ;
        grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% ;

     
}
.title{
    display: none;
}
ul{
    justify-content: space-around;

}
.ig{
    display: none;
}

}